<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<h2>Hi <%= @user.name %>, This is an instructino to reset your password to <%= @site_name %></h2>
	<p>
		If you want to reset your password, please click <a href=<%= @url %> >here</a>
	</p>
	<p>
		Thank you!
	</p>
</body>
</html>