<div class="panel panel-default">
	<!-- Default panel contents -->
	<h2>Delete Workplace transaction</h2>
	<!-- Form to manage workplace transaction -->
	<%= form_for :transaction, :url => {:action => 'destroy_workplace_transaction', :id => @transaction.id}, :html => {:class => 'new_account', :role => 'form'}, :method => 'post' do |f| %>
		<h4 class="reference-name">Account username : <%= @transaction.account.username %></h4>
		<p class='form-control'>Are you sure you want to permanently delete this workplace transaction?</p>
		<%= f.submit "Delete Account", :class => "form-control" %>
	<% end %>
</div>