<div class='container'>
	<h2>Delete Account</h2>
	<div class='col-sm-2 col-sm-offset-10'>
		<%= link_to "Back to Accounts", :action => 'list', :html => {:class => 'form-control'} %>
	</div>
	<br />
	<%= form_for :account, :url => {:action => 'destroy', :id => @account.id}, :html => {:class => 'delete_account', :role => 'form'}, :method => 'post' do |f| %>
		<h4 class='reference-name'>Account username : <%= @account.username %></h4>
		<p class='form-control'>Are you sure you want to permanently delete this account?</p>
		<%= f.submit "Delete Account", :class => "form-control" %>
	<% end %> 
</div>